.*
!.github
!.dockerignore
!.editorconfig
!.flake8
!.gitignore

dist
__pycache__

htmlcov
static
!huey_monitor/static
volumes

*.xml
*.log
*.sqlite*

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/